/*
 * Globals
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic);

body {
  font-family: 'Gentium Book Basic', 'Georgia', 'Times New Roman', Times, serif;
  color: #555;
  overflow: scroll;
  background-color: #FFFFFF; /* F3EFE0 */
  font-size: 18px;
  position: relative;
  box-sizing: border-box;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

 @media (min-width: 1200px) {
  .container {
    position: relative;
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #801815;
  /*005b9a*/
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 12px;
  font-weight: 500;
  color: #cdddeb;
  font-size: 18px;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav a.active {
  color: #fff;
}
.blog-nav a.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
}
.blog-header-background {
  background-color: #162955; /*0191c8*/
  margin-bottom: 20px;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}
.blog-header a {
  text-decoration: none;
}
.blog-logo {
  background-image: url('group.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
/*.blog-header img {
  display: inline;
  height: 80px;
  width: 80px;
}*/
.blog-title {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
  color: rgb(255, 255, 255);
}
.blog-description {
  font-size: 20px;
  color: #cdddeb;
}


/*
 * Main column and sidebar layout
 */

 .blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module img {
  margin-bottom: 10px;
  height: 64px;
  width: 64px;
}
.sidebar-module a:hover {
  text-decoration: none;
}
.sidebar-module h3 {
  font-weight: 700;
}

.sidebar-module h5 {
  font-size: 15px;
}
.sidebar-module-inset {
  border-left-style: solid;
  border-color: #FFAAAA;
  border-width: 6px;
  padding: 15px;
  transition: border-color .3s;
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;

}
.sidebar-module-inset:hover {
  border-color: #801515;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.sidebar-events {
  padding: 10px 0px 16px 0px;
}
.sidebar-events p {
  font-size: 16px;
}
.sidebar-events h4 {
  font-weight: 600;
}
.sidebar-events img {
  height: 40px;
  width: auto;
}
.sidebar-social {
  border-left-style: solid;
  border-left-color: #7887AB;
  border-width: 6px;
  transition: border-color .3s;
    transition-property: border-color;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}
.sidebar-social:hover {
  border-left-color: #061539;
}
/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 26px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 30px;
}
.blog-post-title {
  font-weight: 700;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

/*
 * About page
 */
.about-img {
  height: 140px;
  display: block;
  width: 180px;
  margin: 0 auto;
}

/*
 * Member table. Overwriting some stuff in bootstrap.css
 */
 .table td {
  overflow:hidden;
 }
 .table p {
  margin-top: 6px;
  font-size: 16px;
  text-align: center;
 }
.table img { 
  /* Try to use squared images, otherwise the aspect gets messed up */
  height: 140px;
  width: 140px;
  border-radius: 140px;
  -webkit-border-radius: 140px;
  -moz-border-radius: 140px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

/*
 * Edits to bootstraps's event panel.
 */
.panel {
  display: inline-block;
  width: 99%;
  padding: 3px;
  box-shadow: 2px 2px 4px 0 #ccc
}
.panel-container {
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: 17px;
}
@media only screen and (min-width: 400px) {
  .panel-container {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 700px) {
  .panel-container {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (min-width: 970px) {
  .panel-container {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
.panel-heading time {
  font-weight: 700;
}

.panel-body a {
  color: #555555;
}
.panel-body #preview {
  width: 100%;
  height: auto;
  margin-bottom: 6px;
}
.panel-body #map {
  display: block;
  float: right;
  height: 40px;
  width: auto;
  margin-top: -8px;
}
/*
 * Footer
 */
.blog-footer {
  position: relative;
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.item {
  width: 33%;
}