<div class="row" ng-controller="BlogController">
  <div class="col-sm-8 blog-main">
    <div class="blog-post" ng-repeat="post in posts">
      <h2 class="blog-post-title">{{ post.header }}</h2>
      <p class="blog-post-meta"><time x-iso-time="{{ post.date.toISOString() }}">{{ post.getDatePlain() }}</time> by {{ post.author }}</p>
      <p>{{ post.text | limitTo: 200 }}...</p><a href="#/posts/{{ post.index }}">Read more</a>
    </div><!-- /.blog-post -->
  </div>
  <div class="col-sm-3 col-sm-offset-1 blog-sidebar"><!-- /.blog-sidebar -->
    <div class="sidebar-module sidebar-module-inset" ng-controller="EventController">
      <h3>Upcoming events</h3>
      <div class="sidebar-events" ng-repeat="event in events">
        <h4>{{ event.header }}</h4>
        <h5>{{ event.date }}</h5>
        <p>{{ event.desc }}</p>
        <a href="{{ event.invite }}"><p>Sign Up</p></a>
      </div>
    </div>
    <div class="sidebar-module sidebar-social">
      <h3>Social</h3>
      <ol class="list-unstyled">
        <li><a href="http://github.com/jpdstan/insp-comm-lead-web"><img src="img/github.svg" /> GitHub</a></li>
        <li><a href="http://facebook.com"><img src="img/facebook.svg" /> Facebook</a></li>
      </ol>
    </div>
  </div><!-- /.row -->
</div>